<div class="container my-md-5">
  <div class="offset-md-2 col-md-8">
    <% if !@words.empty? %>
      <h3>いいねした単語</h3>
      <%= render "layouts/word_index", words: @words%>
      <div class="col-12 d-flex">
        <div class="mx-auto"><%= paginate @words %></div>
      </div>
    <% else %>
      <h3>いいねした単語がありません</h3>
    <% end %>
  </div>
</div>



