<div class="container p-0 my-5">
  <div class="offset-md-2 col-md-8">
    <% if !@lists.empty? %>
      <h3>マイリスト一覧</h3>
      <%= render "layouts/list_index", lists: @lists %>
    <% else %>
      <h3>マイリストがありません</h3>
    <% end %>
  </div>
</div>



