<div class="container my-md-5">
  <div class="offset-md-2 col-md-8">
    <% if params[:model] == "search_tag" %>
      <% if @results %>
        <%= render "layouts/list_index", lists: @results %>
      <% else %>
        検索結果はありません
      <% end %>
    <% else %>
      <% if @results %>
        <%= render "layouts/list_index", lists: @results %>
      <% else %>
        検索結果はありません
      <% end %>
    <% end %>
  </div>
</div>
