<div class="container my-md-5">
  <div class="offset-md-2 col-md-8">
    <table class="table">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>